.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.body {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 40px;
    background-color: var(--c-surface-2);
    display: flex;
    justify-content: center;
}