.sidebar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 15px;
}

.logo_container {
    padding: 10px 15px 20px 15px;
}

.nav_list {
    flex-grow: 1;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav_item a {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 15px;
    text-decoration: none;
    color: #64748b;
    font-weight: 500;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.nav_item a:hover {
    background-color: #f1f5f9;
    color: #3b82f6;
}

/* Item Ativo (página atual) */
.active a {
    background-color: #eff6ff;
    color: #3b82f6;
}

.nav_icon {
    font-size: 20px;
}

.nav_text {
    font-size: 14px;
}

/* Rodapé (Logout) */
.sidebar_footer {
    border-top: 1px solid #f1f5f9;
    padding-top: 15px;
    margin-top: auto;
}

.logout_link {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 15px;
    text-decoration: none;
    color: #ef4444;
    /* Vermelho para atenção */
    font-weight: 600;
    border-radius: 10px;
    transition: background 0.2s;
}

.logout_link:hover {
    background-color: #fef2f2;
}

.logo_container {
    padding: 0 15px 30px 15px;
    /* Espaço em baixo para não grudar nos links */
}

.sidebar_title {
    font-size: 1.5rem !important;
    font-weight: 800;
    color: #3b82f6;
    margin: 0;
    letter-spacing: -0.5px;
    padding-left: 5px;
}